{
  "openapi": "3.1.0",
  "info": {
    "title": "Agento AI REST API",
    "version": "1.0.0",
    "description": "Programmatic REST API for Agento AI by WebCore Studio — Autonomous WhatsApp AI Staff & Business Operating System. Supports automated appointment scheduling, lab report dispatch, CA compliance chasing, and e-commerce orders.",
    "termsOfService": "https://orderagentapp.webcorestudio.dev/terms",
    "contact": {
      "name": "WebCore Studio Developer Support",
      "email": "support@webcorestudios.in",
      "url": "https://orderagentapp.webcorestudio.dev/contact"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://orderagentapp.webcorestudio.dev/terms"
    },
    "x-api-version": "2026-09-01",
    "x-versioning-policy": "URL path versioning via /api/v1/ and header X-API-Version. Backward-compatible changes deployed continuously. Breaking changes introduced only via new API versions with a minimum 180-day deprecation notice via HTTP Sunset and Deprecation headers."
  },
  "servers": [
    {
      "url": "https://orderagentapp.webcorestudio.dev",
      "description": "Production Server (v1 API)"
    },
    {
      "url": "https://orderagentapp.webcorestudio.dev/api/v1",
      "description": "Versioned v1 Server Alias"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "getApiDiscoveryManifest",
        "summary": "API Service Discovery Manifest",
        "description": "Returns top-level metadata, schema URLs, and available endpoints.",
        "tags": ["Discovery & Health"],
        "responses": {
          "200": {
            "description": "API service manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["name", "status", "version", "endpoints"],
                  "properties": {
                    "name": { "type": "string", "example": "Agento AI REST API" },
                    "organization": { "type": "string", "example": "WebCore Studio" },
                    "status": { "type": "string", "example": "operational" },
                    "version": { "type": "string", "example": "1.0.0" },
                    "apiVersion": { "type": "string", "example": "2026-09-01" },
                    "documentation": { "type": "string", "format": "uri" },
                    "openapi": { "type": "string", "format": "uri" },
                    "endpoints": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "getApiHealthStatus",
        "summary": "System Health & Uptime Status",
        "description": "Returns current health and uptime status of Agento AI services.",
        "tags": ["Discovery & Health"],
        "responses": {
          "200": {
            "description": "System is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "service", "timestamp"],
                  "properties": {
                    "status": { "type": "string", "example": "healthy" },
                    "service": { "type": "string", "example": "Agento AI by WebCore Studio" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "version": { "type": "string", "example": "1.0.0" },
                    "apiVersion": { "type": "string", "example": "2026-09-01" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/webhook": {
      "post": {
        "operationId": "handleWhatsAppWebhook",
        "summary": "Meta WhatsApp Cloud API Inbound Webhook",
        "description": "Processes incoming customer WhatsApp messages, voice notes, and media. Authenticated via HMAC-SHA256 signature in the x-hub-signature-256 header.",
        "tags": ["WhatsApp Inbound"],
        "parameters": [
          {
            "name": "x-hub-signature-256",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature computed over raw payload.",
            "schema": { "type": "string", "example": "sha256=d3f1a2..." }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["object", "entry"],
                "properties": {
                  "object": { "type": "string", "example": "whatsapp_business_account" },
                  "entry": {
                    "type": "array",
                    "items": { "type": "object" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": { "type": "string", "example": "EVENT_RECEIVED" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      },
      "get": {
        "operationId": "verifyWhatsAppWebhook",
        "summary": "Meta Webhook Verification Handshake",
        "description": "Echoes back hub.challenge when verify token matches.",
        "tags": ["WhatsApp Inbound"],
        "parameters": [
          { "name": "hub.mode", "in": "query", "required": true, "schema": { "type": "string", "example": "subscribe" } },
          { "name": "hub.verify_token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "hub.challenge", "in": "query", "required": true, "schema": { "type": "string", "example": "1158201444" } }
        ],
        "responses": {
          "200": {
            "description": "Challenge echoed.",
            "content": {
              "text/plain": { "schema": { "type": "string" } }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/appointments": {
      "get": {
        "operationId": "listHospitalAppointments",
        "summary": "List Hospital OPD Appointments",
        "description": "Retrieves appointments for a tenant, filtered by date, doctor, or status.",
        "tags": ["Hospital Appointments"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "date", "in": "query", "required": false, "schema": { "type": "string", "format": "date" } },
          { "name": "doctor_name", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["confirmed", "pending", "completed", "cancelled", "rescheduled"] } }
        ],
        "responses": {
          "200": {
            "description": "List of appointments matching criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "appointments"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "appointments": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/HospitalAppointment" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      },
      "post": {
        "operationId": "createHospitalAppointment",
        "summary": "Book OPD Consultation Appointment",
        "description": "Books a new doctor consultation appointment and allocates a token.",
        "tags": ["Hospital Appointments"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["business_id", "patient_name", "patient_phone", "doctor_name", "slot_time"],
                "properties": {
                  "business_id": { "type": "string", "format": "uuid" },
                  "patient_name": { "type": "string", "example": "Aarav Sharma" },
                  "patient_phone": { "type": "string", "example": "919876543210" },
                  "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
                  "department": { "type": "string", "example": "Cardiology" },
                  "slot_time": { "type": "string", "format": "date-time" },
                  "reason": { "type": "string", "example": "Routine checkup and ECG review" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment successfully booked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "appointment"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "appointment": { "$ref": "#/components/schemas/HospitalAppointment" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      },
      "put": {
        "operationId": "updateHospitalAppointmentStatus",
        "summary": "Update Appointment Status",
        "description": "Updates appointment status.",
        "tags": ["Hospital Appointments"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "status"],
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "business_id": { "type": "string", "format": "uuid" },
                  "status": { "type": "string", "enum": ["confirmed", "completed", "cancelled", "rescheduled"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "appointment"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "appointment": { "$ref": "#/components/schemas/HospitalAppointment" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/doctors": {
      "get": {
        "operationId": "listHospitalDoctors",
        "summary": "List Doctors & OPD Schedules",
        "description": "Lists active doctors and consultation fees.",
        "tags": ["Hospital Doctors"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "List of active doctors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "doctors"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "doctors": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/HospitalDoctor" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/reports": {
      "get": {
        "operationId": "listHospitalReports",
        "summary": "List Diagnostic Lab Reports",
        "description": "Lists patient diagnostic reports.",
        "tags": ["Hospital Lab Reports"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "List of reports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "reports"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "reports": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/HospitalReport" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      },
      "post": {
        "operationId": "createHospitalReport",
        "summary": "Publish Diagnostic Lab Report",
        "description": "Publishes a lab report and dispatches WhatsApp delivery with AI OCR summary.",
        "tags": ["Hospital Lab Reports"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["business_id", "patient_name", "patient_phone", "report_type", "file_url"],
                "properties": {
                  "business_id": { "type": "string", "format": "uuid" },
                  "patient_name": { "type": "string", "example": "Rahul Mehta" },
                  "patient_phone": { "type": "string", "example": "919876543210" },
                  "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
                  "report_type": { "type": "string", "example": "Complete Blood Count (CBC)" },
                  "file_url": { "type": "string", "format": "uri" },
                  "ai_summary": { "type": "string" },
                  "is_critical": { "type": "boolean", "default": false }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report published and WhatsApp delivery dispatched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "report"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "report": { "$ref": "#/components/schemas/HospitalReport" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/voice-calls": {
      "get": {
        "operationId": "listHospitalVoiceCalls",
        "summary": "List AI Voice Calls",
        "description": "Retrieves logs of automated AI voice reminder and check-in calls.",
        "tags": ["AI Voice Calls"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "List of voice call records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "calls"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "calls": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/VoiceCallRecord" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      },
      "post": {
        "operationId": "createHospitalVoiceCall",
        "summary": "Initiate AI Voice Call",
        "description": "Dispatches an automated AI phone consultation or reminder call.",
        "tags": ["AI Voice Calls"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["patient_name", "patient_phone"],
                "properties": {
                  "patient_name": { "type": "string", "example": "Vikram Singh" },
                  "patient_phone": { "type": "string", "example": "919876543210" },
                  "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
                  "call_type": { "type": "string", "example": "appointment_reminder" },
                  "reason": { "type": "string", "example": "Tomorrow 10 AM Cardiology consultation reminder" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice call dispatched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "callId"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "callId": { "type": "string", "example": "call_90123" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/feedback": {
      "get": {
        "operationId": "listHospitalFeedback",
        "summary": "List Patient Feedback & Ratings",
        "description": "Lists patient 1-5 star ratings and review feedback.",
        "tags": ["Patient Feedback"],
        "security": [{ "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "List of feedback entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "feedback"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "feedback": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/HospitalFeedback" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    },
    "/api/hospital/cron/trigger/{jobName}": {
      "post": {
        "operationId": "triggerHospitalCronJob",
        "summary": "Execute Automation Engine Scan",
        "description": "Triggers automated background scans for appointment reminders, feedback surveys, or missed patient follow-ups.",
        "tags": ["Automation Engines"],
        "security": [{ "CronSecret": [] }, { "BusinessHeader": [] }, { "BearerAuth": [] }],
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "description": "Job identifier (reminders, feedback_surveys, missed_followups, all).",
            "schema": {
              "type": "string",
              "enum": ["reminders", "feedback_surveys", "missed_followups", "all", "appointment_reminders", "feedback_scanner", "missed_followup"]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_id": { "type": "string", "format": "uuid", "description": "Optional business ID." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation engine executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "result"],
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "result": {
                      "type": "object",
                      "required": ["processed", "timestamp"],
                      "properties": {
                        "job": { "type": "string", "example": "appointment_reminders" },
                        "processed": { "type": "integer", "example": 4 },
                        "timestamp": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400BadRequest" },
          "401": { "$ref": "#/components/responses/401Unauthorized" },
          "403": { "$ref": "#/components/responses/403Forbidden" },
          "404": { "$ref": "#/components/responses/404NotFound" },
          "429": { "$ref": "#/components/responses/429TooManyRequests" },
          "500": { "$ref": "#/components/responses/500InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Standard Bearer authentication token."
      },
      "BusinessHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-business-id",
        "description": "Tenant business UUID for dashboard API authentication."
      },
      "CronSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-cron-secret",
        "description": "Shared cron secret for background automation runners."
      }
    },
    "headers": {
      "X-API-Version": {
        "schema": { "type": "string", "example": "2026-09-01" },
        "description": "API schema version matching RFC versioning conventions."
      },
      "RateLimit-Limit": {
        "schema": { "type": "integer", "example": 120 },
        "description": "Maximum requests permitted in current rate limit window (IETF RFC)."
      },
      "RateLimit-Remaining": {
        "schema": { "type": "integer", "example": 118 },
        "description": "Remaining requests available in current rate limit window."
      },
      "RateLimit-Reset": {
        "schema": { "type": "integer", "example": 60 },
        "description": "Seconds until rate limit window resets."
      },
      "Retry-After": {
        "schema": { "type": "integer", "example": 60 },
        "description": "Seconds to wait before retrying a throttled request."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "type": { "type": "string", "format": "uri", "example": "https://orderagentapp.webcorestudio.dev/errors/unauthorized", "description": "RFC 9457 problem type URI." },
          "title": { "type": "string", "example": "Unauthorized", "description": "RFC 9457 short summary." },
          "status": { "type": "integer", "example": 401, "description": "HTTP status code." },
          "detail": { "type": "string", "example": "Authentication required. Please log in or provide valid API credentials.", "description": "RFC 9457 human-readable detail." },
          "instance": { "type": "string", "example": "/api/hospital/appointments", "description": "RFC 9457 request URI." },
          "success": { "type": "boolean", "example": false },
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string", "example": "UNAUTHORIZED", "description": "Machine-readable error code." },
              "message": { "type": "string", "example": "Authentication required. Please log in or provide valid API credentials.", "description": "Human-readable explanation." },
              "hint": { "type": "string", "example": "Include Authorization: Bearer <TOKEN> or x-business-id: <UUID> header in your request.", "description": "Resolution guidance for developers and autonomous agents." },
              "details": { "type": "object", "description": "Optional validation error details." }
            }
          }
        }
      },
      "HospitalAppointment": {
        "type": "object",
        "required": ["id", "business_id", "patient_name", "patient_phone", "doctor_name", "slot_time", "status"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "business_id": { "type": "string", "format": "uuid" },
          "patient_name": { "type": "string", "example": "Aarav Sharma" },
          "patient_phone": { "type": "string", "example": "919876543210" },
          "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
          "department": { "type": "string", "example": "Cardiology" },
          "slot_time": { "type": "string", "format": "date-time" },
          "token_number": { "type": "integer", "example": 104 },
          "status": { "type": "string", "enum": ["confirmed", "pending", "completed", "cancelled", "rescheduled"], "example": "confirmed" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "HospitalDoctor": {
        "type": "object",
        "required": ["id", "business_id", "name", "speciality", "is_active"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "business_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "Dr. Sarah Jenkins" },
          "speciality": { "type": "string", "example": "Cardiology & Internal Medicine" },
          "qualification": { "type": "string", "example": "MD, DM Cardiology" },
          "consultation_fee": { "type": "number", "example": 800 },
          "opd_timings": { "type": "string", "example": "Mon–Fri: 10:00 AM – 2:00 PM" },
          "is_active": { "type": "boolean", "example": true }
        }
      },
      "HospitalReport": {
        "type": "object",
        "required": ["id", "business_id", "patient_name", "patient_phone", "report_type", "file_url"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "business_id": { "type": "string", "format": "uuid" },
          "patient_name": { "type": "string", "example": "Rahul Mehta" },
          "patient_phone": { "type": "string", "example": "919876543210" },
          "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
          "report_type": { "type": "string", "example": "Complete Blood Count (CBC)" },
          "file_url": { "type": "string", "format": "uri" },
          "ai_summary": { "type": "string", "example": "All vitals normal." },
          "is_critical": { "type": "boolean", "example": false },
          "status": { "type": "string", "example": "delivered" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "VoiceCallRecord": {
        "type": "object",
        "required": ["id", "business_id", "patient_name", "patient_phone", "status"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "business_id": { "type": "string", "format": "uuid" },
          "patient_name": { "type": "string", "example": "Vikram Singh" },
          "patient_phone": { "type": "string", "example": "919876543210" },
          "doctor_name": { "type": "string", "example": "Dr. Sarah Jenkins" },
          "call_type": { "type": "string", "example": "appointment_reminder" },
          "status": { "type": "string", "example": "completed" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "HospitalFeedback": {
        "type": "object",
        "required": ["id", "business_id", "patient_name", "patient_phone", "rating"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "business_id": { "type": "string", "format": "uuid" },
          "patient_name": { "type": "string", "example": "Pooja Patel" },
          "patient_phone": { "type": "string", "example": "919876543210" },
          "rating": { "type": "integer", "minimum": 1, "maximum": 5, "example": 5 },
          "comment": { "type": "string", "example": "Excellent consultation" },
          "status": { "type": "string", "example": "responded" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "description": "Bad Request: Missing or invalid parameters (RFC 9457 Problem Details).",
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      },
      "401Unauthorized": {
        "description": "Unauthorized: Authentication required (RFC 9457 Problem Details).",
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      },
      "403Forbidden": {
        "description": "Forbidden: Permission denied (RFC 9457 Problem Details).",
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      },
      "404NotFound": {
        "description": "Resource Not Found: Endpoint or entity does not exist (RFC 9457 Problem Details).",
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      },
      "429TooManyRequests": {
        "description": "Rate limit exceeded (RFC 9457 Problem Details).",
        "headers": {
          "Retry-After": { "$ref": "#/components/headers/Retry-After" }
        },
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      },
      "500InternalError": {
        "description": "Internal Server Error (RFC 9457 Problem Details).",
        "content": {
          "application/problem+json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } },
          "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
        }
      }
    }
  }
}
