{
  "openapi": "3.1.0",
  "info": {
    "title": "Agento AI REST API",
    "version": "1.0.0",
    "description": "Programmatic REST API for Agento AI by WebCore Studio — Autonomous WhatsApp AI Staff & Business Operating System.",
    "contact": {
      "name": "WebCore Studio Support",
      "email": "support@webcorestudios.in",
      "url": "https://orderagentapp.webcorestudio.dev/contact"
    }
  },
  "servers": [
    {
      "url": "https://orderagentapp.webcorestudio.dev",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/webhook": {
      "post": {
        "summary": "Meta WhatsApp Cloud API Inbound Webhook",
        "description": "Receives inbound WhatsApp customer messages, voice notes, and media with HMAC-SHA256 signature verification.",
        "responses": {
          "200": { "description": "Webhook payload received and queued." },
          "401": { "description": "Invalid payload signature." }
        }
      },
      "get": {
        "summary": "Meta Webhook Verification",
        "description": "Handles Meta subscription handshake verification.",
        "responses": {
          "200": { "description": "Challenge echoed successfully." },
          "403": { "description": "Invalid verify token." }
        }
      }
    },
    "/api/hospital/appointments": {
      "get": {
        "summary": "List Hospital OPD Appointments",
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "date", "in": "query", "required": false, "schema": { "type": "string", "format": "date" } },
          { "name": "doctor_name", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of matching consultation appointments." },
          "401": { "description": "Unauthorized access." }
        }
      },
      "post": {
        "summary": "Book New OPD Consultation Appointment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["business_id", "patient_name", "patient_phone", "doctor_name", "slot_time"],
                "properties": {
                  "business_id": { "type": "string", "format": "uuid" },
                  "patient_name": { "type": "string" },
                  "patient_phone": { "type": "string" },
                  "doctor_name": { "type": "string" },
                  "department": { "type": "string" },
                  "slot_time": { "type": "string", "format": "date-time" },
                  "reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Appointment successfully booked." },
          "400": { "description": "Missing required fields or invalid slot." }
        }
      },
      "put": {
        "summary": "Update Appointment Status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "status"],
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "business_id": { "type": "string", "format": "uuid" },
                  "status": { "type": "string", "enum": ["confirmed", "completed", "cancelled", "rescheduled"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Appointment status updated." }
        }
      }
    },
    "/api/hospital/doctors": {
      "get": {
        "summary": "List Doctors & OPD Schedules",
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "List of active hospital doctors." }
        }
      }
    },
    "/api/hospital/reports": {
      "get": {
        "summary": "List Lab Diagnostic Reports",
        "parameters": [
          { "name": "business_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "List of patient diagnostic reports." }
        }
      },
      "post": {
        "summary": "Publish and Dispatch Diagnostic Report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["business_id", "patient_name", "patient_phone", "report_type", "file_url"],
                "properties": {
                  "business_id": { "type": "string", "format": "uuid" },
                  "patient_name": { "type": "string" },
                  "patient_phone": { "type": "string" },
                  "doctor_name": { "type": "string" },
                  "report_type": { "type": "string" },
                  "file_url": { "type": "string", "format": "uri" },
                  "ai_summary": { "type": "string" },
                  "is_critical": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Report published and WhatsApp delivery dispatched." }
        }
      }
    },
    "/api/hospital/cron/trigger/{jobName}": {
      "post": {
        "summary": "Execute Automation Engine Scan",
        "parameters": [
          { "name": "jobName", "in": "path", "required": true, "schema": { "type": "string", "enum": ["reminders", "feedback_surveys", "missed_followups", "all"] } }
        ],
        "responses": {
          "200": { "description": "Automation engine executed." },
          "401": { "description": "Unauthorized: invalid secret or unauthenticated business." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "BusinessHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-business-id"
      },
      "CronSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-cron-secret"
      }
    }
  }
}
